/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
}


/*Make the h1 heading bigger with a bold font*/
h1{
	display: flex;
	font-size: 2em; 
	font-weight: bold;
	border:1px solid black;
	justify-content: center;
}

/*Style the images*/
img{
    min-width: 50%;
	height:auto;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Change the styling for all of the list 
items in the nav section*/
nav li{
	display:inline-flex;
	justify-content: space-evenly;
	background-color: #ECFF4D;
	padding:10px;
	border:1px solid black;
}

.movielist{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
	/* Play with: */
	/* justify-content:; */
	/* justify-items:;  */
	/* align-items:; */
	/* align-content:; */
}

.skip a{
	background: white;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position: absolute;
	top: -40px;
	font-size: 1em;
  }

 
/*Added this so the links stay the same color*/
a:visited{color:#0000FF}


